.not-found {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 715px;
    background-color: #243a54;
    padding-top: 155px;
    @media (max-width: 1024px) {
        padding-top: 0;
        height: calc(var(--vh) * 100);
        min-height: 700px;
    }

    @media (max-width: 576px) {
        min-height: 600px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image {
        display: block;
        width: 500px;
        height: 379px;
        object-fit: cover;
        mix-blend-mode: lighten;
        @media (max-width: 1024px) {
            width: 444px;
            height: 333px;
        }

        @media (max-width: 768px) {
            width: 335px;
            height: 251px;
        }

        @media (max-width: 576px) {
            width: 248px;
            height: 186 px;
        }
    }

    &__title {
        margin: 0;
        font-family: "FuturaPT", sans-serif;
        font-weight: 300;
        font-size: 500px;
        line-height: 550px;
        color: #fff;
        margin-top: -470px;
        text-transform: uppercase;
        text-shadow: 0 16px 16px rgba(0, 0, 0, 0.05),
            0 8px 8px rgba(0, 0, 0, 0.05),
            0 4px 4px rgba(0, 0, 0, 0.05),
            0 32px 32px rgba(0, 0, 0, 0.05),
            0 2px 2px rgba(0, 0, 0, 0.05),
            0 1px 1px rgba(0, 0, 0, 0.05);
        @media (max-width: 1024px) {
            font-size: 200px;
            line-height: 250px;
            margin-top: -300px;
        }
        @media (max-width: 768px) {
            margin-top: -250px;
        }
        @media (max-width: 576px) {
            font-size: 150px;
            line-height: 200px;
            margin-top: -200px;
        }
    }

    &__desc {
        max-width: 996px;
        margin: 0 auto 30px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        margin-top: -40px;
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 28px;
            margin-top: 70px;
            max-width: 600px;
        }
        @media (max-width: 768px) {
            margin-top: 40px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 25px;
        }

        @media (max-width: 420px) {
            font-size: 14px;
            line-height: 22.4px;
        }
    }

    &__link {
        padding: 27px 108px 23px 108px;
        font-size: 14px;
        line-height: 14px;
        @media (max-width: 420px) {
            width: 100%;
            padding: 26px 0 20px;
            text-align: center;
        }
        @media (max-width: 360px) {
            padding: 21px 0 17px;
            font-size: 12px;
            line-height: 12px;
        }
    }
}