header.header
    .container.header__container
        .header__top
            .header__left
                a.logo.header__logo(href="/")
                    +icon("logo-icon")
                span.header__desc
                    +icon("warning")
                    | Наши сотрудники вакцинированы от&nbsp;COVID-19 Работаем в&nbsp;мед.масках, бахилах и&nbsp;перчатках
            .header__right
                ul.header-social.list-reset
                    li.header-social__item
                        a.header-social__link(href="#")
                            +icon("telegram")
                    li.header-social__item
                        a.header-social__link(href="#")
                            +icon("whatsapp")
                .tell.header__tell
                    span.tell__desc Круглосуточно, без выходных
                    a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                button.btn-reset.g-btn.modal-btn.header__btn(data-graph-animation="custom" data-graph-path="first" data-graph-speed="500") Вызвать специалиста
                +burger("Бургер меню")
        .menu
            nav.nav
                ul.nav__list.list-reset
                    li.nav__item
                        a.nav__link(href="#") О компании
                    li.nav__item
                        a.nav__link.nav__link--drop(href="#")
                            |Услуги
                            +icon("arrow")
                        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list
                            li.dropdown-list__item.mobile-back
                                a.dropdown-list__link.mobile-back__link(href="#")
                                    +icon("arrow2")
                                    |Назад
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#")
                                    |Устранение засоров
                                    +icon("arrow2")
                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#") Гидродинамическая прочистка
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#")
                                    |Прочистка канализации
                                    +icon("arrow2")
                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#")
                                    |Промывка канализации
                                    +icon("arrow2")
                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3

                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#")
                                    |Телеинспекция труб
                                    +icon("arrow2")
                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                            li.dropdown-list__item
                                a.dropdown-list__link(href="#")
                                    |Другие услуги
                                    +icon("arrow2")
                                ul.dropdown-submenu__list.list-reset
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В раковине
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В частном доме
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В квартире
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В трубах
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В унитазе
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В ванной
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                                    li.dropdown-submenu__list-item
                                        a.dropdown-submenu__list-link.dropdown-list__link(href="#")
                                            |В душевой
                                            +icon("arrow2")
                                        ul.dropdown-submenu__list.list-reset.dropdown-submenu__list--2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №1
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №2
                                            li.dropdown-submenu__list-item
                                                a.dropdown-submenu__list-link.dropdown-list__link(href="#") Под услуга №3
                    li.nav__item
                        a.nav__link(href="#") Цены
                    li.nav__item
                        a.nav__link(href="#") Работы
                    li.nav__item
                        a.nav__link(href="#") Отзывы
                    li.nav__item
                        a.nav__link(href="#") Акции
                    li.nav__item
                        a.nav__link(href="#") Вакансии
                    li.nav__item
                        a.nav__link(href="#") Контакты
            .menu__bottom
                .menu__contacts
                    .menu__contacts-left
                        ul.header-social.list-reset.menu-header__social
                            li.header-social__item
                                a.header-social__link(href="#")
                                    +icon("telegram")
                            li.header-social__item
                                a.header-social__link(href="#")
                                    +icon("whatsapp")
                        .tell.header__tell.menu-header__tell
                            span.tell__desc Круглосуточно, без выходных
                            a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                span.header__desc.menu-header__desc
                    +icon("warning")
                    | Наши сотрудники вакцинированы от&nbsp;COVID-19 Работаем в&nbsp;мед.масках, бахилах и&nbsp;перчатках