mixin header
    .container.header__container
        .header__top
            .header__left
                a.logo.header__logo(href="/")
                    +icon("logo-icon")
                span.header__desc
                    +icon("warning")
                    | Наши сотрудники вакцинированы от&nbsp;COVID-19 Работаем в&nbsp;мед.масках, бахилах и&nbsp;перчатках
            .header__right
                ul.header-social.list-reset
                    li.header-social__item
                        a.header-social__link(href="#")
                            +icon("telegram")
                    li.header-social__item
                        a.header-social__link(href="#")
                            +icon("whatsapp")
                .tell.header__tell
                    span.tell__desc Круглосуточно, без выходных
                    a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                button.btn-reset.g-btn.modal-btn.header__btn(data-graph-animation="fadeInUp" data-graph-path="call-specialist" data-graph-speed="500") Вызвать специалиста
                +burger("Бургер меню")
        .menu
            nav.nav
                ul.nav__list.list-reset.main-nav
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="about.html") О компании
                    li.nav__item.main-nav__item
                        .nav__link.nav__link--drop.nav__link--dropdown.main-nav__link
                            a(href="services.html") Услуги
                            +icon("arrow")
                            +icon("arrow2")
                        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list
                            li.dropdown-list__item.mobile-back
                                a.dropdown-list__link.mobile-back__link
                                    +icon("arrow2")
                                    |Назад
                            li.dropdown-list__item.nav__item
                                .dropdown-list__link.nav__link.nav__link--drop
                                    a.g-link(href="#") Устранение засоров
                                    +icon("arrow2")
                                +navDropdown               
                            li.dropdown-list__item.nav__item
                                a.nav__link.dropdown-list__link.g-link(href="#") Гидродинамическая прочистка
                            li.dropdown-list__item.nav__item
                                .dropdown-list__link.nav__link.nav__link--drop
                                    a.g-link(href="#") Прочистка канализации
                                    +icon("arrow2")
                                +navDropdown
                            li.dropdown-list__item.nav__item
                                .dropdown-list__link.nav__link.nav__link--drop
                                    a.g-link(href="#") Промывка канализации
                                    +icon("arrow2")
                                +navDropdown
                            li.dropdown-list__item.nav__item
                                .dropdown-list__link.nav__link.nav__link--drop
                                    a.g-link(href="#") Телеинспекция труб
                                    +icon("arrow2")
                                +navDropdown
                            li.dropdown-list__item.nav__item
                                .dropdown-list__link.nav__link.nav__link--drop
                                    a.g-link(href="#") Другие услуги
                                    +icon("arrow2")
                                +navDropdown  
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="prices-individuals.html") Цены
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="#") Работы
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="#") Отзывы
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="#") Акции
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="#") Вакансии
                    li.nav__item.main-nav__item
                        a.nav__link.main-nav__link(href="#") Контакты
            .menu__bottom
                .menu__contacts
                    .menu__contacts-left
                        ul.header-social.list-reset.menu-header__social
                            li.header-social__item
                                a.header-social__link(href="#")
                                    +icon("telegram")
                            li.header-social__item
                                a.header-social__link(href="#")
                                    +icon("whatsapp")
                        .tell.header__tell.menu-header__tell
                            span.tell__desc Круглосуточно, без выходных
                            a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                span.header__desc.menu-header__desc
                    +icon("warning")
                    | Наши сотрудники вакцинированы от&nbsp;COVID-19 Работаем в&nbsp;мед.масках, бахилах и&nbsp;перчатках

if page === "index"
    header.header--main
        +header
else
    header.header
        +header