.services {
    background-color: #243a54;
    position: relative;
    z-index: 1;

    @media (max-width: 1024px) {
        background-color: #344f70;
    }

    &__container {
        padding-bottom: 73px;
        @media (max-width: 1024px) {
            padding-top: 50px;
            padding-bottom: 0;
        }
        @media (max-width: 768px) {
            padding-top: 40px;
        }

        @media (max-width: 420px) {
            padding-top: 30px;
        }
    }

    &__title {
        color: #fff;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 34px;
            margin-bottom: 30px;
        }

        @media (max-width: 420px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        @media (max-width: 360px) {
            font-size: 18px;
            line-height: 20px;
        }

        &--2 {
            font-size: 60px;
            line-height: 66px;
            margin-bottom: 42px;
            @media (max-width: 1024px) {
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 35px;
            }
            @media (max-width: 576px) {
                font-size: 30px;
                line-height: 34px;
                margin-bottom: 30px;
            }
            @media (max-width: 420px) {
                font-size: 25px;
                line-height: 25px;
            }
            @media (max-width: 360px) {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 20px;
            }
        }
    }
    
    &__list {
        display: grid;
        overflow: hidden;
        border-radius: 10px;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 1024px) {
            border-radius: 0;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 20px;
        }
    }

    &-slider {
        @media (max-width: 1024px) {
            padding-bottom: 30px;
            margin: 0 -15px;
        }
        &__pagination {
            display: none;
        }

        &.swiper-initialized {
            .swiper-pagination {
                display: flex;
            }
        }
    }
    
    &__item {
        height: auto;
    }
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 89px);
    margin: -1px;
    border: 1px solid rgba(#fff, 0.05);
    padding: 40px 40px 49px;
    background-color: #344f70;
    color: #fff;

    @media (max-width: 1024px) {
        margin: 0;
        border: none;
        padding: 40px 15px;
        background-color: transparent;
        border-top: 1px solid rgba(#fff, 0.05);
    }
    
    @media (max-width: 768px) {
        height: calc(100% - 60px);
        padding: 30px 15px;
    }

    &:hover {
        .service {
            &-item__link {
                color: #4096fc;
            }
            &-item-back {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__icon {
        margin-bottom: 20px;
        &--1 {
            width: 147px;
            height: 88px;
            @media (max-width: 576px) {
                width: 69px;
                height: 42px;
            }
        }
    
        &--2 {
            width: 127px;
            height: 78px;
            @media (max-width: 576px) {
                width: 69px;
                height: 43px;
            }
        }
    
        &--3 {
            width: 79px;
            height: 79px;
            @media (max-width: 576px) {
                width: 40px;
                height: 40px;
            }
        }
    
        &--4 {
            width: 80px;
            height: 80px;
            @media (max-width: 576px) {
                width: 40px;
                height: 40px;
            }
        }
    
        &--5 {
            width: 163px;
            height: 79px;
            @media (max-width: 576px) {
                width: 85px;
                height: 41px;
            }
        }
    
        &--6 {
            width: 75px;
            height: 80px;
            @media (max-width: 576px) {
                width: 40px;
                height: 38px;
            }
        }
    }

    &__title {
        max-width: 300px;
        color: #fff;
        font-size: 20px;
        line-height: 25.5px;
        margin-bottom: 10px;
        @media (max-width: 576px) {
            max-width: none;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__desc {
        max-width: 300px;
        margin: 0;
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        @media (max-width: 768px) {
            max-width: 600px;
        }

        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 22.4px;
        }
    }

    &__link {
        display: inline-block;
        position: relative;
        margin-top: auto;
        color: #fff;
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 600;
        z-index: 3;
        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 22.4px;
        }
        &:after {
            @include pseudo();
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
        }
    }

    &:nth-child(2) {
        .service-item__title {
            max-width: 196px;
        }
    }

    &-back {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 40px;
        transition: opacity 0.3s, visibility 0.3s;
        background-color: #fff;
        box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05),
            0 8px 8px rgba(0, 0, 0, 0.05),
            0 4px 4px rgba(0, 0, 0, 0.05),
            0 32px 32px rgba(0, 0, 0, 0.05),
            0 2px 2px rgba(0, 0, 0, 0.05),
            0 1px 1px rgba(0, 0, 0, 0.05);
        opacity: 0;
        visibility: hidden;
        
        @media (max-width: 1024px) {
            padding: 40px 15px;
        }
        
        @media (max-width: 768px) {
            padding: 30px 15px;
        }

        &__title {
            color: #000;
            margin-bottom: 18px;
        }

        &__list {
            @media (max-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 50%;
            }
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 11px;
            }
        }

        &__link {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            line-height: 25.6px;
            color: #212121;
            @media (max-width: 576px) {
                font-size: 14px;
                line-height: 20px;
            }
            svg {
                width: 15px;
                height: 10px;
                fill: #4096fc;
                margin-right: 15px;
            }
        }
    }
}