.benefits {

    &__container {
        padding-top: 40px;
        padding-bottom: 80px;
        @media (max-width: 768px) {
            padding-top: 30px;
            padding-bottom: 50px;
        }
        @media (max-width: 576px) {
            padding-top: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 768px) {
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__number {
        display: flex;
        font-weight: 900;
        font-size: 85px;
        line-height: 104px;
        letter-spacing: 0.03em;
        -webkit-text-stroke: 3px #4096fc;
        -webkit-text-fill-color: transparent;
        @media (max-width: 1024px) {
            justify-content: center;
        }
        @media (max-width: 768px) {
            font-size: 70px;
            line-height: 78px;
            -webkit-text-stroke: 2px #4096fc;
        }
        @media (max-width: 576px) {
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__value {
        @media (max-width: 576px) {
            margin-bottom: 5px;
        }
    }

    &__caption {
        max-width: 372px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        @media (max-width: 1024px) {
            text-align: center;
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 14px;
        }
        @media (max-width: 360px) {
            font-size: 11px;
            line-height: 13px;
        }
    }
}