.clients {

    &__container {
        padding-bottom: 80px;
        @media (max-width: 1024px) {
            padding-bottom: 60px;
        }
        @media (max-width: 768px) {
            padding-bottom: 40px;
        }
        @media (max-width: 576px) {
            padding-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 34px;
        }
        @media (max-width: 576px) {
            font-size: 25px;
            line-height: 30px;
        }
        @media (max-width: 360px) {
            font-size: 18px;
            line-height: 23.4px;
            margin-bottom: 15px;
        }
    }

    &-slider {
        overflow: visible;

        @media (max-width: 768px) {
            overflow: hidden;
            margin: 0 -15px;
            padding: 0 15px;
        }

        &__wrapper {
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }

        &__btn {
            &--prev {
                left: 45px;
                @media (max-width: 1330px) {
                    left: 20px;
                    top: calc(50% - 10px);
                }
            }

            &--next {
                right: 45px;
                @media (max-width: 1330px) {
                    right: 20px;
                    top: calc(50% - 10px);
                }
            }
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 220px;
        background: #fff;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        margin-top: 0;
        transition: box-shadow 0.5s, transform 0.3s;
        @media (min-width: 1025px) {
            cursor: pointer;
            &:hover {
                transform: scale(1.01);
                box-shadow: 0 64px 134px rgba(0, 0, 0, 0.1);
                .clients__image {
                    filter: grayscale(0);
                }
            }
        }
        @media (max-width: 768px) {
            height: 180px;
            border: none;
            margin-top: 0 !important;
            margin-bottom: 20px;
        }
    }

    &__image {
        display: block;
        object-fit: cover;

        @media (min-width: 1025px) {
            filter: grayscale(100%);
            transition: filter 0.3s;
        }

        &--1 {
            width: 98px;
            @media (max-width: 576px) {
                width: 70px;
            }
        }

        &--2 {
            width: 148px;
            @media (max-width: 576px) {
                width: 110px;
            }
        }

        &--3 {
            width: 146px;
            @media (max-width: 576px) {
                width: 110px;
            }
        }

        &--4 {
            width: 152px;
            @media (max-width: 576px) {
                width: 110px;
            }
        }

        &--5 {
            width: 144px;
            @media (max-width: 576px) {
                width: 110px;
            }
        }

        &--6 {
            width: 194px;
        }

        &--7 {
            width: 178px;
            @media (max-width: 576px) {
                width: 130px;
            }
        }

        &--8 {
            width: 162px;
            @media (max-width: 576px) {
                width: 110px;
            }
        }

        &--9 {
            width: 116px;
            @media (max-width: 576px) {
                width: 80px;
            }
        }
    }
}   