section.about-section
    .container.about-section__container
        h2.g-title.about-section__title О Компании “Кротсервис”
        h3.about-section__subtitle Клиенты — наше ВСЕ! 
        p.about-section__desc Мы очень ценим и дорожим нашими клиентами: 63% получаемых заказов — либо обращения по рекомендации, либо повторные обращения и это — отличный показатель! Мы постоянно получаем положительные отзывы о работе наших специалистов.
        .plyr__video-embed.about__video(id="player")
            iframe(
                src="https://youtu.be/pIrnew79beQ"
                allowfullscreen
                allowtransparency
                allow="autoplay")
    .container.benefits__container
        ul.benefits__list.list-reset.animation
            li.benefits__item
                span.benefits__number(data-number="23") 0
                span.benefits__caption успешных проектов
            li.benefits__item
                span.benefits__number(data-number="34") 0
                span.benefits__caption успешных проектов
            li.benefits__item
                span.benefits__number(data-number="56") 0
                span.benefits__caption постоянных клиентов
            li.benefits__item
                span.benefits__number(data-number="56") 0
                span.benefits__caption постоянных клиентов