mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon " + name + ' ' + mod)
      use(xlink:href="./img/sprites/sprite.svg#" + name)
  else
    svg(class="svg-icon " + name)
      use(xlink:href="./img/sprites/sprite.svg#" + name)

mixin burger(aria)
  burger.btn-reset.burger.header__burger(aria-label=aria)
    span
    <svg x="0" y="0" width="54px" height="54px" viewbox="0 0 54 54">
        <circle cx="27" cy="27" r="26"></circle>
    </svg>