mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon " + name + ' ' + mod)
      use(xlink:href="./img/sprites/sprite.svg#" + name)
  else
    svg(class="svg-icon " + name)
      use(xlink:href="./img/sprites/sprite.svg#" + name)

mixin burger(aria)
  button.btn-reset.burger.header__burger(aria-label=aria)
    span
    <svg x="0" y="0" width="54px" height="54px" viewbox="0 0 54 54">
        <circle cx="27" cy="27" r="26"></circle>
    </svg>

mixin navDropdown
  ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
    li.dropdown-list__item.mobile-back.nav__item
        li.dropdown-list__item.mobile-back
            a.dropdown-list__link.mobile-back__link
                +icon("arrow2")
                |Назад
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В раковине
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В частном доме
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В квартире
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В трубах
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В унитазе
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В ванной
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3
    li.dropdown-list__item.nav__item
        .dropdown-list__link.nav__link.nav__link--drop.dropdown-submenu__list-link
            a(href="#") В душевой
            +icon("arrow2")
        ul.nav__list.list-reset.nav__list--dropdown.dropdown-list.nav__list--dropdown--2
            li.dropdown-list__item.mobile-back
                a.dropdown-list__link.mobile-back__link
                    +icon("arrow2")
                    |Назад
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №1
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №2
            li.dropdown-list__item
                a.nav__link.dropdown-list__link(href="#") Под услуга №3