section.why
    .container.why__container
        h2.g-title.why__title ПОЧЕМУ КЛИЕНТЫ ВЫБИРАЮТ НАС?
        ul.why__list.list-reset
            li.why__item
                +icon("why-1")
                span Выезд за 10 минут круглосуточно
            li.why__item
                +icon("why-2")
                span Гарантия качества и результата
            li.why__item
                +icon("why-3")
                span Квалифицированные специалисты
            li.why__item
                +icon("why-4")
                span Профессиональное оборудование
            li.why__item
                +icon("why-5")
                span Проведение работ в удобное для вас время
            li.why__item
                +icon("why-6")
                span Чистота в доме после нашего присутствия