section.hero
    .container.hero__container
        .hero__content
            h2.g-title.hero__subtitle в Москве и Московской области
            h1.g-title.g-title--center.hero__title Прочистка канализации любой сложности
            ul.hero-info.list-reset
                li.hero-info__item
                    +icon("homes")
                    span.hero-info__caption Дома, квартиры и&nbsp;коттеджи
                li.hero-info__item
                    +icon("offices")
                    span.hero-info__caption Офисы, школы,&nbsp;больницы
                li.hero-info__item
                    +icon("markets")
                    span.hero-info__caption Магазины и&nbsp;супермаркеты
                li.hero-info__item  
                    button.btn-reset.hero__btn
                        +icon("fire")
                        span Срочный вызов
                    span.hero-info__desc выезд за&nbsp;20&nbsp;минут
                li.hero-info__item
                    +icon("cafe")
                    span.hero-info__caption Кафе, рестораны и&nbsp;бары
                li.hero-info__item
                    +icon("car-washes")
                    span.hero-info__caption Автомойки, автосервисы, АЗС
                li.hero-info__item
                    +icon("factories")
                    span.hero-info__caption Производства и&nbsp;склады