section.work
    .container.work__container
        h1.g-title.work__title Искусственный засор канализации в коттедже
        .work__content
            .work__left
                h2.work__subtitle Объект:
                p.work__desc Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                h2.work__subtitle Особенности:
                p.work__desc Линия канализации смонтирована из труб диаметром 50мм и проходит вдоль стены кухни далее через отверстие в стене в коридор, где врезается в стояк.
                button.btn-reset.g-btn.work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
            img.work__image.lozad(src="img/work-image@2x.jpg", srcset="img/work-image@2x.jpg 2x" alt="")
        .g-quote.work__quote
            +icon("quote")
            q Видеодиагностическое обследование аварийного участка канализации показало, что в месте прохождения трубы через стену строители зачем-то заузили диаметр трубы с 50мм через переходник до примерно 20-25мм, из-за этого вода просто не могла протекать быстро. Для ликвидации искусственного засора требовалась переделка данного участка канализационной трубы силами строителей.