extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Акции";
	- const page = "promotions"

block content
	.site-container
		.progress
			span.progress__line
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/breadcrumbs/breadcrumbs
			include ../../blocks/modules/promotions/promotions
			include ../../blocks/modules/questions/questions
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")