extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Отзывы";
	- const page = "testimonials"

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/breadcrumbs/breadcrumbs
			include ../../blocks/modules/testimonials/testimonials
			include ../../blocks/modules/emergency-crew/emergency-crew
			include ../../blocks/modules/why/why
			include ../../blocks/modules/questions/questions
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")