extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Вакансии";
	- const page = "vacancies"

block content
	.site-container
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/breadcrumbs/breadcrumbs
			include ../../blocks/modules/vacancies/vacancies
			include ../../blocks/modules/about-section/about-section
			include ../../blocks/modules/certificates/certificates
			include ../../blocks/modules/our-team/our-team
			include ../../blocks/modules/info/info
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")