extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Искусственный засор канализации в коттедже";
	- const page = "work"

block content
	.site-container
		.progress
			span.progress__line
		include ../../blocks/modules/header/header
		main.main
			include ../../blocks/modules/breadcrumbs/breadcrumbs
			include ../../blocks/modules/work/work
			include ../../blocks/modules/our-works/our-works
			include ../../blocks/modules/why/why
			include ../../blocks/modules/questions/questions
		include ../../blocks/modules/footer/footer
		include ../../blocks/modules/modal/modal
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")