section.promotions
    .container.promotions__container
        h1.g-title.promotions__title Акции
        ul.promotions__list.list-reset
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--promotions.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-1.jpg", srcset="img/promotions-1@2x.jpg 2x" alt="500 руб скидки для пенсионеров")
                    h2.promotions-item__title 500 руб
                    h3.promotions-item__caption Скидки для пенсионеров
                p.promotions-item__desc Предъявите пенсионное удостоверение мастеру и получите скидку на заказ.
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--discount.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-2.jpg", srcset="img/promotions-2@2x.jpg 2x" alt="500 руб Онлайн-заявка без звонка")
                    h2.promotions-item__title 500 руб
                    h3.promotions-item__caption Онлайн-заявка без звонка
                p.promotions-item__desc Оформите заявку самостоятельно и получите скидку 500 рублей
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--discount2.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-3.jpg", srcset="img/promotions-3@2x.jpg 2x" alt="15% Скидки на прочистку")
                    h2.promotions-item__title 15%
                    h3.promotions-item__caption Скидки на прочистку
                p.promotions-item__desc Предъявите пенсионное удостоверение мастеру и получите скидку на заказ.
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--promotions.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-1.jpg", srcset="img/promotions-1@2x.jpg 2x" alt="500 руб скидки для пенсионеров")
                    h2.promotions-item__title 500 руб
                    h3.promotions-item__caption Скидки для пенсионеров
                p.promotions-item__desc Предъявите пенсионное удостоверение мастеру и получите скидку на заказ.
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--discount.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-2.jpg", srcset="img/promotions-2@2x.jpg 2x" alt="500 руб Онлайн-заявка без звонка")
                    h2.promotions-item__title 500 руб
                    h3.promotions-item__caption Онлайн-заявка без звонка
                p.promotions-item__desc Оформите заявку самостоятельно и получите скидку 500 рублей
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
            li.promotions-item
                .promotions-item__content
                    .promotions-item__line
                    span.sticker.sticker--discount2.promotions-item__sticker акция
                    img.promotions-item__image.lozad(src="img/promotions-3.jpg", srcset="img/promotions-3@2x.jpg 2x" alt="15% Скидки на прочистку")
                    h2.promotions-item__title 15%
                    h3.promotions-item__caption Скидки на прочистку
                p.promotions-item__desc Предъявите пенсионное удостоверение мастеру и получите скидку на заказ.
                a.g-btn.g-btn--stroke.promotions-item__link(href="#") Оформить заявку
        button.btn-reset.promotions__more Показать еще