section.we-work
    .container.we-work__container
        h2.g-title.we-work__title Как мы работаем
        ul.we-work__list.list-reset
            li.we-work__item
                h3.g-title.we-work__caption Вы оставляете заявку
                p.we-work__desc Оставьте заявку на сайте или позвоните нам по телефону +7 (495) 137-43-69 Наш специалист уточнит у вас информацию по объему и особенностям заказа, а также согласует с Вами время приезда мастера.
                +icon("we-work-1")
            li.we-work__item
                h3.g-title.we-work__caption Выезд специалиста
                p.we-work__desc Наш мастер приедет к вам в назначенное время без опозданий и со всеми необходимыми материалами.
                +icon("we-work-2")
            li.we-work__item
                h3.g-title.we-work__caption Выполнение работ
                p.we-work__desc Мастер на месте проведет осмотр, диагностику, а так же финальную оценку стоимости и сроков по решению вопроса. После заключения договора специалист выполнит обозначенные виды работ.
                +icon("we-work-3")
            li.we-work__item
                h3.g-title.we-work__caption Приемка и оплата работ
                p.we-work__desc Вы сначала проверите и примите все работы, после чего произведете оплату услуг специалиста.
                +icon("we-work-4")
        button.g-btn.we-work__btn.btn-reset.modal-btn(data-graph-animation="fadeInUp" data-graph-path="write-us" data-graph-speed="500") Оставить заявку