section.about
    .container.about__container
        h1.g-title.about__title О компании
        .about__content
            .about__left
                .logo.about__logo
                    +icon("logo2")
                h2.g-title.about__subtitle КротСервис - компания с безупречной репутацией!
                .about__desc
                    p От конкурентов нас отличает наличие собственного обширного парка специализированной техники и фиксированная стоимость работ.
                    p Мы с гордостью можем сказать, что для нас не существует невыполнимых задач. Техническая оснащённость компании и уровень профессионализма специалистов способны решить вопросы любого уровня сложности на объектах Заказчиков!
                button.g-btn.about__btn.btn-reset.modal-btn(data-graph-animation="fadeInUp" data-graph-path="write-us" data-graph-speed="500") Написать нам
            .about__right
                img.about__image.lozad(src="img/about-image.jpg", data-src="img/about-image@2x.jpg", 2x alt="Картинка о компании")