section.list-works
    .container.list-works__container
        h2.g-title.list-works__title Список работ
        .list-works__block
            .list-works__top
                h3.list-works__title-service Название услуги
                span.list-works__price Стоимость
            ul.list-works__list.list-reset
                li.list-work
                    h4.list-work__title Засор ванны
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Устранение засора в наружном трубопроводе 
                    .list-work__right
                        span.list-work__price От 5000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Прочистка ливневой канализации
                    .list-work__right
                        span.list-work__price От 5000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Устранение засора в душевой кабине
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Устранение засоров канализации
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Засор канализации в частном доме
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Засор канализации в квартире
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Засор в раковине в ванной
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Общий засор канализации
                    .list-work__right
                        span.list-work__price От 3500 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Засор канализационного стояка
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Пробивка засоров канализации
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Гидродинамическая прочистка труб
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Сильный засор канализации
                    .list-work__right
                        span.list-work__price От 3000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Устранение засора в системе внутреннего трубопровода
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Гидродинамическая прочистка труб
                    .list-work__right
                        span.list-work__price От 3000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Гидродинамическая промывка канализации
                    .list-work__right
                        span.list-work__price От 3000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Пневматическая прочистка трубопроводов
                    .list-work__right
                        span.list-work__price От 3000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Электромеханическая прочистка трубопроводов
                    .list-work__right
                        span.list-work__price От 3000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Устранение засоров домашней канализации
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Засор септика
                    .list-work__right
                        span.list-work__price От 5000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу
                li.list-work
                    h4.list-work__title Чистка канализационных колодцев
                    .list-work__right
                        span.list-work__price От 1000 ₽
                        button.btn-reset.g-btn.list-work__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу