section.testimonials
    .container.testimonials__container
        .testimonials__top
            h1.g-title.testimonials__title Наши отзывы
            a.g-btn.testimonials__link.anchor-link(href="#testimonials-form") Написать отзыв
        ul.testimonials__list.list-reset
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
            li.testimonial.testimonials__item
                .testimonial__top
                    .testimonial__left
                        img.testimonial__image.lozad(src="img/testimonial.png", data-src="img/testimonial@2x.png", alt="Михаил начальник отдела ООО «ПМ-69» ")
                        .testimonial__text
                            span.testimonial__name Михаил
                            span.testimonial__job-title Начальник отдела ООО «ПМ-69»
                    img.testimonial__rating(src="img/stars.svg", alt="Rate 4 of 5")
                .testimonial__row
                    span.testimonial__date 23.10.2021
                    img.testimonial__rating.testimonial__rating--hidden(src="img/stars.svg", alt="Rate 4 of 5")
                h3.g-title.testimonial__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.testimonial__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый наряд — это крупный план. Не меньшую роль играют детали. Интересное украшение...
                a.g-link.testimonial__link(href="#") Читать дальше
        button.btn-reset.g-btn.g-btn--stroke.testimonials__more Показать еще
        form.testimonials-form.validate-form9(action="#" id="testimonials-form")
            h2.testimonials-form__title.g-title ОСТАВИТЬ ОТЗЫВ
            .testimonials-form__row
                input.g-input.testimonials-form__input(data-validate-field="name" type="text" name="Имя" placeholder="Ваше имя")
                input.g-input.testimonials-form__input(data-validate-field="tel" type="tel" name="Телефон" placeholder="Ваш телефон")
                textarea.g-textarea.testimonials-form__textarea(data-validate-field="text", name="Текст отзыва" placeholder="Ваш отзыв")
            .testimonials-form__bottom
                .g-rating.testimonials-form__rating
                    h3.g-rating__caption Ваша оценка:
                    .g-rating__group
                        input.g-rating__input(data-validate-field="radio" type="radio" name="Оценка" id="grade-1" value="1")
                        label.g-rating__star(for="grade-1" aria-label="Ужасно")

                        input.g-rating__input(data-validate-field="radio" type="radio" name="Оценка" id="grade-2" value="2")
                        label.g-rating__star(for="grade-2" aria-label="Сносно")

                        input.g-rating__input(data-validate-field="radio" type="radio" name="Оценка" id="grade-3" value="3")
                        label.g-rating__star(for="grade-3" aria-label="Нормально")

                        input.g-rating__input(data-validate-field="radio" type="radio" name="Оценка" id="grade-4" value="4")
                        label.g-rating__star(for="grade-4" aria-label="Хорошо")

                        input.g-rating__input(data-validate-field="radio" type="radio" name="Оценка" id="grade-5" value="5")
                        label.g-rating__star(for="grade-5" aria-label="Отлично")
                p.testimonials-form__desc Нажимая кнопку «Получить консультацию», Вы даете согласие на обработку своих&nbsp;
                    a(href="#") персональных данных
                button.btn-reset.g-btn.testimonials-form__btn отправить