.testimonials {
    background-color: #243a54;
    
    &__container {
        padding-top: 80px;
        padding-bottom: 80px;
        @media (max-width: 1024px) {
            padding-top: 60px;
            padding-bottom: 45px;
        }
        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @media (max-width: 576px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__title {
        color: #fff;
        line-height: 52px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 34px;
        }
        @media (max-width: 576px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        @media (max-width: 360px) {
            font-size: 18px;
            line-height: 23.4px;
        }
    }

    &-slider {

        &__wrapper {
            @media (max-width: 1024px) {
                padding-bottom: 40px;
            }
            @media (max-width: 576px) {
                padding-bottom: 30px;
            }
            @media (max-width: 360px) {
                padding-bottom: 20px;
            }
        }

        &__controls {
            right: -43px;
            left: -43px;
            @media (max-width: 576px) {
                top: 45%;
            }
        }
        &__pagination {
            display: none;
            @media (max-width: 1024px) {
                display: flex;
            }
        }

        &__btn {
            &--prev {
                @media (max-width: 1330px) {
                    width: 60px;
                    height: 60px;
                    svg {
                        width: 12px;
                    }
                }
            }

            &--next {
                @media (max-width: 1330px) {
                    width: 60px;
                    height: 60px;
                    svg {
                        width: 12px;
                    }
                }
            }
        }
    }
}

.testimonial {
    border: 2px solid rgba(#fff, 0.1);
    padding: 40px;
    border-radius: 10px;

    @media (max-width: 576px) {
        padding: 15px 15px 23px 15px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(#fff, 0.1);
        @media (max-width: 576px) {
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__image {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 15px;
        @media (max-width: 576px) {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }

    &__name {
        font-family: "FuturaPT", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #fff;
    }

    &__job-title {
        display: block;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        line-height: 19.4px;
        @media (max-width: 576px) {
            font-size: 10px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__rating {
        display: block;
        width: 140px;
        height: 21px;
        object-fit: cover;
        @media (max-width: 576px) {
            display: none;
            width: 93px;
            height: 14px;
        }
        &--hidden {
            display: none;
            @media (max-width: 576px) {
                display: block;
            }
        }
    }

    &__date {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 19.4px;
        color: #fff;
    }

    &__title {
        font-size: 24px;
        line-height: 31px;
        color: #fff;
        max-width: 396px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: initial;
        @media (max-width: 576px) {
            font-size: 18px;
            line-height: 22.4px;
            margin-bottom: 10px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__desc {
        margin: 0;
        color: #fff;
        line-height: 25.6px;
        margin-bottom: 15px;
        @media (max-width: 576px) {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 22.4px;
        }
    }

    &__link {
        position: relative;
        color: #fff;
        line-height: 16px;
        &:after {
            @include pseudo();
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
        }
    }
}