section.our-team
    .container.our-team__container
        h2.g-title.g-title--center.our-team__title Квалифицированная команда специалистов
        .g-slider
            .g-slider__controls.our-team-slider__controls
                button.btn-reset.g-slider-btn.g-slider-btn--prev.our-team-slider__btn--prev.g-slider__controls-btn--prev
                    +icon("slider-arrow")
                button.btn-reset.g-slider-btn.g-slider-btn--next.our-team-slider__btn--next.g-slider__controls-btn--next
                    +icon("slider-arrow")
            .swiper.our-team-slider
                .swiper-wrapper
                    .swiper-slide.team
                        .team-slider
                            .team-slider__main
                                .team-slider__item
                                    img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x", alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x", alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x", alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x", alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .swiper.team-slider__main
                                .swiper-wrapper.team-slider__main-wrapper
                                    .swiper-slide.team-slider__item
                                        img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x",  alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x",  alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x",  alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x",  alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .team-slider__main
                                .team-slider__item
                                    img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x", alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x", alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x", alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x", alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .swiper.team-slider__main
                                .swiper-wrapper.team-slider__main-wrapper
                                    .swiper-slide.team-slider__item
                                        img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x",  alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x",  alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x",  alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x",  alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .team-slider__main
                                .team-slider__item
                                    img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x", alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x", alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x", alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x", alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .swiper.team-slider__main
                                .swiper-wrapper.team-slider__main-wrapper
                                    .swiper-slide.team-slider__item
                                        img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x",  alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x",  alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x",  alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x",  alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .team-slider__main
                                .team-slider__item
                                    img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x", alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x", alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x", alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x", alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту
                    .swiper-slide.team
                        .team-slider
                            .swiper.team-slider__main
                                .swiper-wrapper.team-slider__main-wrapper
                                    .swiper-slide.team-slider__item
                                        img.team-slider__image.team-slider__main-image(src="img/team-1.jpg", alt="Фотография команды 1")
                            .swiper.team-slider__nav
                                .swiper-wrapper.team-slider__nav-wrapper
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-1.jpg", srcset="img/team-1@2x.jpg 2x",  alt="Фотография команды 1")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-2.jpg", srcset="img/team-2@2x.jpg 2x",  alt="Фотография команды 2")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-3.jpg", srcset="img/team-3@2x.jpg 2x",  alt="Фотография команды 3")
                                    .swiper-slide.team-slider__item.team-slider__nav-item
                                        img.team-slider__image.team-slider__nav-image.lozad(src="img/team-4.jpg", srcset="img/team-4@2x.jpg 2x",  alt="Фотография команды 4")
                        .team__right
                            h3.team__title Иван Иванов
                            span.team__job-title Сантехник
                            span.team__experience Опыт работы: 8 лет
                            .team__desc
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. Это дает мне возможность лично гарантировать качество оказываемых услуг.
                                p Ежеквартальное повышение квалификации и прохождение аттестации дают мне полное понимание всех процессов, в которых задействованы мои специалисты. 

                            button.btn-reset.g-btn.team__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="ask-question" data-graph-speed="500") Задать вопрос эксперту