section.thanks
    .container.thanks__container
        picture
            source(srcset="img/thanks-image.svg" media="(min-width: 769px)")
            img.thanks__image(src="img/thanks-image-mobile.svg", alt="Спасибо за заявку")
        h2.g-title.thanks__title Спасибо за заявку
        p.thanks__desc Мы свяжимся с вами в ближайшее время!
        a.g-btn.thanks__link(href="index.html") Вернуться На главную