section.certificates
    .container.certificates__container
        h2.g-title.g-title--center.certificates__title СЕРТИФИКАТЫ И ЛИЦЕНЗИИ
        .slider
            .certificates-slider__controls
                button.btn-reset.g-slider-btn.g-slider-btn--prev.certificates-slider__btn--prev
                    +icon("slider-arrow")
                button.btn-reset.g-slider-btn.g-slider-btn--next.certificates-slider__btn--next
                    +icon("slider-arrow")
            .swiper.certificates-slider
                .swiper-wrapper.certificates-slider__wrapper
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-1@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-1.png", data-src="img/certificate-1@2x.png" alt="Сертификат 1")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-2@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-2.png", data-src="img/certificate-2@2x.png" alt="Сертификат 2")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-3@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-3.png", data-src="img/certificate-3@2x.png" alt="Сертификат 3")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-4@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-4.png", data-src="img/certificate-4@2x.png" alt="Сертификат 4")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-3@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-3.png", data-src="img/certificate-3@2x.png" alt="Сертификат 3")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-4@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-4.png", data-src="img/certificate-4@2x.png" alt="Сертификат 4")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-1@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-1.png", data-src="img/certificate-1@2x.png" alt="Сертификат 1")
                    .swiper-slide.certificates__item
                        .certificate
                            a(data-fslightbox="certificates" href="img/certificate-2@2x.png") 
                                img.certificate__image.lozad(src="img/certificate-2.png", data-src="img/certificate-2@2x.png" alt="Сертификат 2")