section.main-services
    .main-services__wrapper
        .main-services__line
        .container.main-services__container
            h2.g-title.g-title--center.main-services__title Комплексное обслуживание канализационных сетей
            .swiper.main-services-slider(data-mobile="false")
                .main-services__list.swiper-wrapper
                    span.main-service__bg(style="left: 0;")
                    .main-services__item.main-service.swiper-slide
                        h3.main-service__title Гидродинамическая прочистка
                        .main-service__icon
                            .main-service__line.main-service__line--1
                            .main-service__line.main-service__line--2
                            .main-service__line.main-service__line--3
                            .main-service__line.main-service__line--4
                            .main-service__line.main-service__line--5
                            <svg width="50" height="175" viewBox="0 0 50 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="20" y="18" width="10" height="122" fill="white"/>
                            <path d="M10 130C10 127.239 12.2386 125 15 125H35C37.7614 125 40 127.239 40 130V142H10V130Z" fill="#4096FC"/>
                            <path d="M3.61804 147.236C1.95578 143.912 4.37326 140 8.09017 140H41.9098C45.6267 140 48.0442 143.912 46.382 147.236L36 168C36 168 28 174.5 25 174.5C22 174.5 14 168 14 168L3.61804 147.236Z" fill="white"/>
                            <circle cx="25" cy="10" r="7.5" fill="#4096FC" stroke="white" stroke-width="5"/>
                            </svg>
                        p.main-service__desc Гидродинамическая промывка канализации любых диаметров. От оборудования для домов и квартир до мощных машин с расходом воды 350 л/мин и давлением 205 бар!
                        a.g-btn.g-btn--stroke.main-service__link(href="#") Подробнее
                    .main-services__item.main-service.swiper-slide
                        h3.main-service__title Механическая прочистка
                        .main-service__icon
                            <svg width="50" height="228" viewBox="0 0 50 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="23" y="4" width="4" height="122" fill="white"/>
                            <path d="M10 130C10 127.239 12.2386 125 15 125H35C37.7614 125 40 127.239 40 130V142H10V130Z" fill="#4096FC"/>
                            <path d="M3.61804 147.236C1.95578 143.912 4.37326 140 8.09017 140H41.9098C45.6267 140 48.0442 143.912 46.382 147.236L36 168C36 168 28 174.5 25 174.5C22 174.5 14 168 14 168L3.61804 147.236Z" fill="white"/>
                            <circle cx="25" cy="10" r="7.5" fill="#4096FC" stroke="white" stroke-width="5"/>
                            <path d="M0 153C0 150.239 2.23858 148 5 148H45C47.7614 148 50 150.239 50 153V176H0V153Z" fill="#4096FC"/>
                            <path d="M0 176H50L41.6667 200H35L41.6667 187.786L39 181H11L8.33334 187.786L15 200H8.33334L0 176Z" fill="white"/>
                            <path d="M28.8297 110.827C30.1773 110.235 31.508 109.565 32.8204 108.816C31.083 108.126 29.3269 107.537 27.556 107.052C25.2292 107.93 22.8612 108.588 20.4619 109.023C23.2784 109.36 26.0743 109.963 28.8297 110.827Z" fill="white"/>
                            <path d="M28.8297 101.464C30.1773 100.873 31.508 100.202 32.8204 99.4536C31.083 98.7625 29.3269 98.1742 27.556 97.6887C25.2292 98.5669 22.8612 99.2255 20.4619 99.66C23.2784 99.9976 26.0743 100.601 28.8297 101.464Z" fill="white"/>
                            <g>
                                <path d="M28.8297 92.102C30.1773 91.5111 31.508 90.8407 32.8204 90.0912C31.083 89.4001 29.3269 88.8118 27.556 88.327C25.2292 89.2049 22.8612 89.8627 20.4619 90.2975C23.2784 90.6351 26.0743 91.2386 28.8297 92.102Z" fill="white"/>
                                <path d="M33.9142 114.661H31.1155C27.9252 116.204 24.6443 117.32 21.3008 118H33.9142C34.5128 118 35.0003 117.252 35.0003 116.33C35.0001 115.41 34.5128 114.661 33.9142 114.661Z" fill="white"/>
                                <path d="M30.3456 114.327C30.5804 114.219 30.8144 114.107 31.0481 113.994C32.0727 113.496 33.0878 112.955 34.0927 112.369C34.3851 112.198 34.6109 111.87 34.729 111.444C34.8414 111.041 34.8418 110.597 34.7312 110.195C34.5552 109.557 34.1477 109.146 33.6929 109.146C33.5556 109.146 33.4205 109.183 33.2911 109.259C29.3613 111.545 25.2643 113.128 21.0625 113.994C20.4472 114.121 19.8296 114.232 19.2101 114.327C18.3332 114.463 17.4523 114.566 16.5679 114.64C16.5097 114.645 16.452 114.65 16.3936 114.655C16.3197 114.661 16.2478 114.677 16.1766 114.702C15.9287 114.788 15.7043 114.982 15.5424 115.262C15.3592 115.578 15.2678 115.979 15.2853 116.391C15.3152 117.096 15.6752 117.695 16.1487 117.913C16.2733 117.97 16.4058 117.999 16.5427 117.998C16.5646 117.998 16.5865 117.999 16.6088 117.997C16.7493 117.986 16.8895 117.974 17.0299 117.959C21.3232 117.564 25.5353 116.458 29.6061 114.66C29.8528 114.552 30.0998 114.441 30.3456 114.327Z" fill="white"/>
                                <path d="M16.6088 108.635C22.6486 108.144 28.5313 106.25 34.0927 103.006C34.3851 102.836 34.6109 102.508 34.729 102.083C34.8414 101.679 34.8418 101.234 34.7312 100.832C34.5552 100.195 34.1477 99.7831 33.6929 99.7831C33.5556 99.7831 33.4205 99.8215 33.2911 99.8966C27.9178 103.022 22.2323 104.837 16.3936 105.293C16.0607 105.319 15.7507 105.54 15.5424 105.899C15.3592 106.215 15.2678 106.616 15.2853 107.028C15.3241 107.949 15.927 108.692 16.6088 108.635Z" fill="white"/>
                                <path d="M16.6088 99.2727C22.6486 98.7813 28.5313 96.8881 34.0927 93.6441C34.3851 93.474 34.6109 93.1452 34.729 92.7204C34.8414 92.317 34.8418 91.8725 34.7312 91.4705C34.5552 90.8331 34.1477 90.4215 33.6929 90.4215C33.5556 90.4215 33.4205 90.4592 33.2911 90.5339C27.9178 93.66 22.2323 95.4748 16.3936 95.93C16.0607 95.9562 15.7507 96.1774 15.5424 96.5372C15.3592 96.8533 15.2678 97.2538 15.2853 97.6653C15.3241 98.5868 15.927 99.3304 16.6088 99.2727Z" fill="white"/>
                                <path d="M16.6088 89.9107C22.6486 89.42 28.5313 87.526 34.0927 84.282C34.3851 84.1119 34.6109 83.7839 34.729 83.3583C34.8414 82.9549 34.8418 82.5104 34.7312 82.1085C34.5552 81.4706 34.1477 81.0591 33.6929 81.0591C33.5556 81.0591 33.4205 81.0968 33.2911 81.1726C27.9178 84.2975 22.2323 86.1127 16.3936 86.5679C16.0607 86.5942 15.7507 86.8153 15.5424 87.1755C15.3592 87.4916 15.2678 87.8928 15.2853 88.3044C15.3241 89.2251 15.927 89.9687 16.6088 89.9107Z" fill="white"/>
                                <path d="M28.8297 82.7976C30.1773 82.2052 31.508 81.5352 32.8204 80.7864C31.083 80.096 29.3269 79.5074 27.556 79.0222C25.2292 79.9004 22.8612 80.5582 20.4619 80.9931C23.2784 81.3307 26.0743 81.9338 28.8297 82.7976Z" fill="white"/>
                                <path d="M28.8297 73.4349C30.1773 72.8433 31.508 72.1725 32.8204 71.4241C31.083 70.733 29.3269 70.1447 27.556 69.6592C25.2292 70.5374 22.8612 71.1959 20.4619 71.6304C23.2784 71.968 26.0743 72.5711 28.8297 73.4349Z" fill="white"/>
                                <path d="M28.8297 64.0724C30.1773 63.4815 31.508 62.8111 32.8204 62.0615C31.083 61.3704 29.3269 60.7821 27.556 60.2974C25.2292 61.1752 22.8612 61.833 20.4619 62.2679C23.2784 62.6055 26.0743 63.2089 28.8297 64.0724Z" fill="white"/>
                                <path d="M16.6088 80.6055C22.6486 80.1144 28.5313 78.2201 34.0927 74.9765C34.3851 74.806 34.6109 74.478 34.729 74.0535C34.8414 73.649 34.8418 73.2049 34.7312 72.8026C34.5552 72.1655 34.1477 71.7535 33.6929 71.7535C33.5556 71.7535 33.4205 71.792 33.2911 71.8671C27.9178 74.9924 22.2323 76.8072 16.3936 77.2631C16.0607 77.289 15.7507 77.5101 15.5424 77.8692C15.3592 78.1853 15.2678 78.5869 15.2853 78.9988C15.3241 79.9196 15.927 80.6624 16.6088 80.6055Z" fill="white"/>
                                <path d="M16.6088 71.2433C22.6486 70.7519 28.5313 68.8586 34.0927 65.6146C34.3851 65.4446 34.6109 65.1158 34.729 64.691C34.8414 64.2875 34.8418 63.8431 34.7312 63.4411C34.5552 62.8036 34.1477 62.3921 33.6929 62.3921C33.5556 62.3921 33.4205 62.4298 33.2911 62.5045C27.9178 65.6305 22.2323 67.4454 16.3936 67.9006C16.0607 67.9268 15.7507 68.1479 15.5424 68.5077C15.3592 68.8239 15.2678 69.2244 15.2853 69.6359C15.3241 70.5574 15.927 71.301 16.6088 71.2433Z" fill="white"/>
                                <path d="M16.6088 61.8811C22.6486 61.3904 28.5313 59.4965 34.0927 56.2525C34.3851 56.0824 34.6109 55.7544 34.729 55.3288C34.8414 54.9254 34.8418 54.4809 34.7312 54.079C34.5552 53.4411 34.1477 53.0295 33.6929 53.0295C33.5556 53.0295 33.4205 53.0673 33.2911 53.1431C27.9178 56.268 22.2323 58.0832 16.3936 58.5384C16.0607 58.5646 15.7507 58.7858 15.5424 59.1459C15.3592 59.4621 15.2678 59.8633 15.2853 60.2748C15.3241 61.1956 15.927 61.9392 16.6088 61.8811Z" fill="white"/>
                                <path d="M28.8297 54.768C30.1773 54.1757 31.508 53.5056 32.8204 52.7569C31.083 52.0665 29.3269 51.4778 27.556 50.9927C25.2292 51.8709 22.8612 52.5287 20.4619 52.9636C23.2784 53.3012 26.0743 53.9043 28.8297 54.768Z" fill="white"/>
                                <path d="M28.8297 45.4055C30.1773 44.8139 31.508 44.1431 32.8204 43.3947C31.083 42.7036 29.3269 42.1153 27.556 41.6298C25.2292 42.508 22.8612 43.1665 20.4619 43.601C23.2784 43.9386 26.0743 44.5417 28.8297 45.4055Z" fill="white"/>
                                <path d="M28.8297 36.0428C30.1773 35.4519 31.508 34.7815 32.8204 34.032C31.083 33.3409 29.3269 32.7526 27.556 32.2678C25.2292 33.1457 22.8612 33.8035 20.4619 34.2383C23.2784 34.5759 26.0743 35.1794 28.8297 36.0428Z" fill="white"/>
                                <path d="M16.6088 52.576C22.6486 52.0849 28.5313 50.1906 34.0927 46.9469C34.3851 46.7765 34.6109 46.4485 34.729 46.024C34.8414 45.6194 34.8418 45.1754 34.7312 44.773C34.5552 44.1359 34.1477 43.724 33.6929 43.724C33.5556 43.724 33.4205 43.7625 33.2911 43.8375C27.9178 46.9628 22.2323 48.7777 16.3936 49.2336C16.0607 49.2595 15.7507 49.4806 15.5424 49.8396C15.3592 50.1558 15.2678 50.5574 15.2853 50.9693C15.3241 51.89 15.927 52.6329 16.6088 52.576Z" fill="white"/>
                                <path d="M16.6088 43.2138C22.6486 42.7223 28.5313 40.8291 34.0927 37.5851C34.3851 37.415 34.6109 37.0863 34.729 36.6614C34.8414 36.258 34.8418 35.8135 34.7312 35.4116C34.5552 34.7741 34.1477 34.3625 33.6929 34.3625C33.5556 34.3625 33.4205 34.4003 33.2911 34.475C27.9178 37.601 22.2323 39.4158 16.3936 39.871C16.0607 39.8973 15.7507 40.1184 15.5424 40.4782C15.3592 40.7944 15.2678 41.1948 15.2853 41.6064C15.3241 42.5278 15.927 43.2714 16.6088 43.2138Z" fill="white"/>
                                <path d="M16.6088 33.8516C22.6486 33.3609 28.5313 31.4669 34.0927 28.2229C34.3851 28.0528 34.6109 27.7248 34.729 27.2992C34.8414 26.8958 34.8418 26.4514 34.7312 26.0494C34.5552 25.4116 34.1477 25 33.6929 25C33.5556 25 33.4205 25.0377 33.2911 25.1135C27.9178 28.2385 22.2323 30.0537 16.3936 30.5089C16.0607 30.5351 15.7507 30.7562 15.5424 31.1164C15.3592 31.4325 15.2678 31.8337 15.2853 32.2453C15.3241 33.166 15.927 33.9096 16.6088 33.8516Z" fill="white"/>
                            </g>
                            <g>
                                <path d="M35 227L28.8047 215.527C27.0744 212.323 27.2227 208.431 29.1919 205.368L30.7222 202.988C33.2292 199.088 32.727 193.976 29.5088 190.639L26 187" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                <path d="M27 227L20.8047 215.527C19.0744 212.323 19.2227 208.431 21.1919 205.368L22.7222 202.988C25.2292 199.088 24.727 193.976 21.5088 190.639L18 187" stroke="white" stroke-width="2" stroke-linecap="round"/>
                            </g>
                            </svg>
                        p.main-service__desc Электромеханическое оборудование со спиралями и штангами позволяет справиться с самыми сложными засорами на объектах наружной и внутренней канализации.
                        a.g-btn.g-btn--stroke.main-service__link(href="#") Подробнее
                    .main-services__item.main-service.swiper-slide
                        h3.main-service__title Диагностика трубопроводов
                        .main-service__icon
                            +icon("main-service-3")
                        p.main-service__desc Видеодиагностика и телеинспекция труб любых диаметров. Возможность составления технического отчёта, предоставление видеозаписи и фотографий исследования.
                        a.g-btn.g-btn--stroke.main-service__link(href="#") Подробнее
                .swiper-pagination.g-pagination.main-services-slider__pagination