section.technology
    .container.technology__container
        h2.g-title.technology__title Технология гидродинамической чистки
        p.technology__desc После уточнения технических параметров той или иной канализационной системы специалисты определяют, какая техника или оборудование будет эффективным в конкретном случае. Для наружных систем канализации чаще используют каналопромывочные спецавтомобили. Сети внутренней канализации очищают аппаратами высокого давления для гидродинамической промывки.
        ul.technology__list.list-reset
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-1.jpg", srcset="img/technology-1@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №1 
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-2.jpg", srcset="img/technology-2@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №2
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-3.jpg", srcset="img/technology-3@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №3 
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-4.jpg", srcset="img/technology-4@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №4 
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-5.jpg", srcset="img/technology-5@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №5 
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
            li.technology-item
                img.technology-item__image.lozad(src="img/technology-6.jpg", srcset="img/technology-6@2x.jpg 2x" alt="Шаг 1")
                h3.g-title.technology-item__title шаг №6 
                .technology-item__desc.more-desc
                    span.technology-item__desc.more-desc-value Включают насос, который под высоким давлением подает воду в распылительную насадку. Напор в процессе гидродинамической прочистки труб может достигать 180 атмосфер. Вода с си
                    span.dots ...
                    span.more лой выходит через форсунки и проталкивает рукав с головкой в трубу, попутно размывая отложения и сбивая мусор. Скорость перемещения размывочной насадки можно регулировать вращением барабана. (В случае с переносным оборудованием скорость перемещения размывочной насадки со шлангом регулируют вручную).
                    button.btn-reset.technology__more-text.more-text(data-text="далее") далее
        h2.g-title.technology-info__title Техника для гидродинамической прочистки труб
        ul.technology-info__list.list-reset
            li.technology-info__item
                +icon("check")
                | Каналопромывочные машины для гидродинамической очистки труб наружных сетей диаметром до 2000 мм с интервалом между колодцами до 100 м.
            li.technology-info__item
                +icon("check")
                | Илососы КО-507А для вакуумной откачки осадка и жидких отходов.
            li.technology-info__item
                +icon("check")
                | Комбинированный спецавтомобиль для гидродинамической очистки канализации диаметром до 2 000 мм.
            li.technology-info__item
                +icon("check")
                | Установки высокого давления Kroll RO-JET для промывки внутренних и наружных систем диаметром до 500 мм с возможностью прохода поворотов.
            li.technology-info__item
                +icon("check")
                | Аппараты высокого давления Kranzle Therm и Karcher HDS для промывки внутренних труб горячей водой и растворами химических реагентов.
            li.technology-info__item
                +icon("check")
                | Установки высокого давления Kranzle для прочистки бытовых канализационных систем.