section.maintenance
    .container.maintenance__container
        h2.g-title.maintenance__title ПЛАНОВОЕ 
            span ОБСЛУЖИВАНИЕ
        ul.maintenance__list.list-reset
            li.maintenance__item.maintenance__item--1
                +icon("maintenance-1")
                span.maintenance__caption Выезд специалиста
            li.maintenance__item.maintenance__item--2
                +icon("maintenance-2")
                span.maintenance__caption Осмотр объекта
            li.maintenance__item.maintenance__item--3
                +icon("maintenance-3")
                span.maintenance__caption Согласование стоимости и&nbsp;оформление договора
            li.maintenance__item.maintenance__item--4
                +icon("maintenance-4")
                span.maintenance__caption Выполнение работ и&nbsp;подписание акта
        h2.g-title.maintenance__title.maintenance__title--2 АВАРИЙНОЕ 
            span ОБСЛУЖИВАНИЕ
        ul.maintenance__list.maintenance__list--2.list-reset
            li.maintenance__item.maintenance__item--1
                +icon("maintenance-5")
                span.maintenance__caption Ваш звонок
            li.maintenance__item.maintenance__item--2.maintenance__item--5
                +icon("maintenance-6")
                span.maintenance__caption Согласование стоимости и&nbsp;выезд аварийной бригады
            li.maintenance__item.maintenance__item--3
                +icon("maintenance-7")
                span.maintenance__caption Выполнение работ и&nbsp;подписание акта
            li.maintenance__item.maintenance__item--4
                +icon("maintenance-8")
                span.maintenance__caption Оформление документов и проведение взаиморасчетов