section.vacancies
    .container.vacancies__container
        h1.g-title.vacancies__title Вакансии
        .vacancies__desc.more-desc
            p Все наши достижения – это результат работы профессионалов, составляющих нашу команду. Мы даем каждому сотруднику компании постоянную занятость, хороший заработок, а также хороший опыт и развитие как профессионала своего дела.
                span.dots ...
            p.more Если Вы разделяете наши взгляды и нацелены на достижение результата, если Вы хотите развиваться и самореализовываться, будем рады Вас видеть в составе нашей дружной команды! Если Вы всё же сомневаетесь в выборе нашей компании, рекомендуем ознакомиться со справочником специалиста компании и ответить на вопросы в конце.
            button.btn-reset.vacancies__more.more-text(data-text="Читать дальше") Читать дальше
        .vacancies-contacts
            .tell.vacancies-contacts__item
                span.tell__desc.vacancies__caption Звоните по телефону
                a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
            .mail.vacancies__mail.vacancies-contacts__item
                span.vacancies__caption Отправляйте свое резюме на почту:
                a.mail__link.g-link(href="mailto:info@krotservis.ru") info@krotservis.ru
            address.address.vacancies-contacts__item
                span.address__desc.vacancies__caption приходите в гости по адресу
                span.address__value г. Москва, Волгоградский проспект, д. 139, оф. 1
        h2.g-title.vacancies__subtitle Требуються
        

        ul.accordion__list.list-reset.questions__accordion
            li.accordion
                button.btn-reset.accordion__control.accordion__control--2(aria-expanded="false")
                    span.g-title.accordion__title Слесарь-сантехник (Аварийка)
                    .accordion__control-right
                        span.g-title.accordion__title.accordion__title--2 от 50 000 до 80 000 руб. за 15 смен
                        span.accordion__icon--2
                            +icon("arrow")
                .accordion__content.accordion__content--2(aria-hidden="true")
                    ul.accordion-items.list-reset
                        li.acordion__col
                            h3.g-title.accordion__subtitle Требования
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Опыт работы по сантехнике, слесарем сантехником, монтажником СТС, устранения засоров труб.
                                li.accordion-info__item
                                    +icon("check")
                                    |Хорошее знание города.
                                li.accordion-info__item
                                    +icon("check")
                                    |Знание сантехнических материалов и оборудования.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Обязанности
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Выполнение объемов работ качественно и в срок (монтажные сантехнические работы, устранение засоров).
                                li.accordion-info__item
                                    +icon("check")
                                    |Порядочность, вежливость с клиентами.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Условия работы
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |График работы пятидневка, 2/2
                                li.accordion-info__item
                                    +icon("check")
                                    |Оплата 2 раза в месяц
                                li.accordion-info__item
                                    +icon("check")
                                    |Официальное трудоустройство
                                li.accordion-info__item
                                    +icon("check")
                                    |Место работы: офис на ул. Ботаническая, 28.
                    button.btn-reset.g-btn.modal-btn.vacancies__btn(data-graph-animation="fadeInUp" data-graph-path="respond" data-graph-speed="500") ОТкликнуться на вакансию
            li.accordion
                button.btn-reset.accordion__control.accordion__control--2(aria-expanded="false")
                    span.g-title.accordion__title Слесарь-сантехник (монтаж)
                    .accordion__control-right
                        span.g-title.accordion__title.accordion__title--2 от 30 000 до 70 000 руб.
                        span.accordion__icon--2
                            +icon("arrow")
                .accordion__content.accordion__content--2(aria-hidden="true")
                    ul.accordion-items.list-reset
                        li.acordion__col
                            h3.g-title.accordion__subtitle Требования
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Опыт работы по сантехнике, слесарем сантехником, монтажником СТС, устранения засоров труб.
                                li.accordion-info__item
                                    +icon("check")
                                    |Хорошее знание города.
                                li.accordion-info__item
                                    +icon("check")
                                    |Знание сантехнических материалов и оборудования.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Обязанности
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Выполнение объемов работ качественно и в срок (монтажные сантехнические работы, устранение засоров).
                                li.accordion-info__item
                                    +icon("check")
                                    |Порядочность, вежливость с клиентами.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Условия работы
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |График работы пятидневка, 2/2
                                li.accordion-info__item
                                    +icon("check")
                                    |Оплата 2 раза в месяц
                                li.accordion-info__item
                                    +icon("check")
                                    |Официальное трудоустройство
                                li.accordion-info__item
                                    +icon("check")
                                    |Место работы: офис на ул. Ботаническая, 28.
                    button.btn-reset.g-btn.modal-btn.vacancies__btn(data-graph-animation="fadeInUp" data-graph-path="respond" data-graph-speed="500") ОТкликнуться на вакансию
            li.accordion
                button.btn-reset.accordion__control.accordion__control--2(aria-expanded="false")
                    span.g-title.accordion__title Электрик на обслуживание (подработка)
                    .accordion__control-right
                        span.g-title.accordion__title.accordion__title--2 30 000 руб.
                        span.accordion__icon--2
                            +icon("arrow")
                .accordion__content.accordion__content--2(aria-hidden="true")
                    ul.accordion-items.list-reset
                        li.acordion__col
                            h3.g-title.accordion__subtitle Требования
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Опыт работы по сантехнике, слесарем сантехником, монтажником СТС, устранения засоров труб.
                                li.accordion-info__item
                                    +icon("check")
                                    |Хорошее знание города.
                                li.accordion-info__item
                                    +icon("check")
                                    |Знание сантехнических материалов и оборудования.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Обязанности
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |Выполнение объемов работ качественно и в срок (монтажные сантехнические работы, устранение засоров).
                                li.accordion-info__item
                                    +icon("check")
                                    |Порядочность, вежливость с клиентами.
                        li.acordion__col
                            h3.g-title.accordion__subtitle Условия работы
                            ul.accordion-info__list.list-reset
                                li.accordion-info__item
                                    +icon("check")
                                    |График работы пятидневка, 2/2
                                li.accordion-info__item
                                    +icon("check")
                                    |Оплата 2 раза в месяц
                                li.accordion-info__item
                                    +icon("check")
                                    |Официальное трудоустройство
                                li.accordion-info__item
                                    +icon("check")
                                    |Место работы: офис на ул. Ботаническая, 28.
                    button.btn-reset.g-btn.modal-btn.vacancies__btn(data-graph-animation="fadeInUp" data-graph-path="respond" data-graph-speed="500") ОТкликнуться на вакансию