.breadcrumbs
    .container.breadcrumbs__container
        ul.breadcrumbs__list.list-reset
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
                a.breadcrumbs__link О компании