if page === "services"
    .breadcrumbs.breadcrumbs--2
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link Услуги

else if page === "prices-individuals"
    .breadcrumbs.prices__breadcrumbs
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Цены
                li.breadcrumbs__item
                    a.breadcrumbs__link Физические лица
else if page === "prices-organizations"
    .breadcrumbs.prices__breadcrumbs
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Цены
                li.breadcrumbs__item
                    a.breadcrumbs__link Организации
else if page === "works"
    .breadcrumbs.breadcrumbs--2
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Наши работы
else if page === "service"
    .breadcrumbs
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="services.html") Услуги
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Услуга
else if page === "work"
    .breadcrumbs.breadcrumbs--3
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="works.html") Наши работы
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Работа
else if page === "testimonials"
    .breadcrumbs.breadcrumbs--2
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Отзывы
else if page === "contacts"
    .breadcrumbs.breadcrumbs--2
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Контакты
else if page === "articles"
    .breadcrumbs.breadcrumbs--2
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--current Статьи
else
    .breadcrumbs
        .container.breadcrumbs__container
            ul.breadcrumbs__list.list-reset
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link О компании