section.works.tabs
    .container.works__container
        h1.g-title.works__title Наши работы
        .g-tabs-dropdown
            button.btn-reset.g-tabs-dropdown__btn
                span.g-tabs-dropdown__value Все работы
                +icon("down")
            ul.g-tabs.list-reset.works__tabs
                li.g-tabs__item
                    button.btn-reset.g-tabs__btn.g-tabs__btn--active(data-tabs-path="all") Все работы
                li.g-tabs__item
                    button.btn-reset.g-tabs__btn(data-tabs-path="clearing-blockages") Устранение засоров
                li.g-tabs__item
                    button.btn-reset.g-tabs__btn(data-tabs-path="video-diagnostics") Видеодиагностика труб
                li.g-tabs__item
                    button.btn-reset.g-tabs__btn(data-tabs-path="sewerage-cleaning") Прочистка канализации
        ul.works__list.list-reset.tabs__content.active(data-tabs-target="all")
            li.work-item
                img.work-item__image.lozad(src="img/work-1.jpg", data-src="img/work-1@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-2.jpg", data-src="img/work-2@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-3.jpg", data-src="img/work-3@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-4.jpg", data-src="img/work-4@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-5.jpg", data-src="img/work-5@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-6.jpg", data-src="img/work-6@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
        ul.works__list.list-reset.tabs__content(data-tabs-target="clearing-blockages")
            li.work-item
                img.work-item__image.lozad(src="img/work-2.jpg", data-src="img/work-2@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-3.jpg", data-src="img/work-3@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
        ul.works__list.list-reset.tabs__content(data-tabs-target="video-diagnostics")
            li.work-item
                img.work-item__image.lozad(src="img/work-4.jpg", data-src="img/work-4@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-5.jpg", data-src="img/work-5@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
            li.work-item
                img.work-item__image.lozad(src="img/work-6.jpg", data-src="img/work-6@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
        ul.works__list.list-reset.tabs__content(data-tabs-target="sewerage-cleaning")
            li.work-item
                img.work-item__image.lozad(src="img/work-1.jpg", data-src="img/work-1@2x.jpg" alt="Искусственный засор канализации в коттедже")
                h2.g-title.work-item__title Искусственный засор канализации в коттедже
                p.work-item__desc
                    span Объект: 
                    |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                a.g-link.work-item__link(href="work.html") Подробнее
        button.btn-reset.g-btn.g-btn--stroke.works__btn Показать еще
    