.burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4096FC;
    transition: transform 0.5s;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;
        transition: background 0.5s, transform 0.5s;

        &:before,
        &:after {
            content: "";
            background-color: #fff;
            width: 18px;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-6px);
            transition: transform 0.5s;
            transform-origin: 50% 50%;

        }

        &:after {
            transform: translateY(6px);
        }

    }

    svg {
        width: 40px;
        height: 40px;
        fill: transparent;
        stroke-width: 2px;
        stroke: #fff;
        stroke-dashArray: 165;
        stroke-dashOffset: 165;
        transition: stroke-dashOffset 0.7s, fill 0.5s;
    }

    &.isOpen {
        transform: rotate(180deg);

        span {
            background: transparent;
        }

        span:before {
            transform: translateY(0) rotate(45deg);
        }

        span:after {
            transform: translateY(0) rotate(-45deg);
        }

        svg {
            stroke-dashOffset: 0;
        }

        &:hover {
            svg {
                fill: rgba(#fff, 0.1);
            }
        }
    }
}