.g-btn {
    font-weight: 700;
    font-size: 11px;
    line-height: 13.5px;
    text-transform: uppercase;
    color: #fff;
    background: #4096fc;
    box-shadow: 0 4px 25px 5px rgba(53, 116, 191, 0.15), 0px 4px 2px #3a8df2, inset 0px 2px 1px rgba(255, 255, 255, 0.25);
    border-radius: 150px;
    padding: 20px 40px 17px 39px;
}