.g-input {
    border: 1px solid transparent;
    color: hsla(231, 13%, 41%, 1);
    padding: 30px 35px;
    background: #f6f6f6;
    border-radius: 100px;
    outline: none;
    font-weight: 400;

    @media (max-width: 576px) {
        padding: 25px 35px;
    }

    @media (max-width: 360px) {
        padding: 20px 30px;
    }

    &.error {
        border: 1px solid rgba(#cc0000, 0.5);
        background-color: rgba(#cc0000, 0.1);
    }
    
    &::placeholder {
        color: #818181;
        opacity: 1;
    }
}   