.g-input {
    color: hsla(231, 13%, 41%, 1);
    border: none;
    padding: 30px 35px;
    background: #f6f6f6;
    border-radius: 100px;
    outline: none;
    font-weight: 300;
    &::placeholder {
        color: #818181;
        opacity: 1;
    }
}   