.g-textarea {
    border: 1px solid transparent;
    color: hsla(231, 13%, 41%, 1);
    padding: 20px 35px;
    background: #f6f6f6;
    border-radius: 10px;
    outline: none;
    font-weight: 300;
    height: 100px;
    resize: none;

    &.js-validate-error-field {
        background-color: rgba(235, 47, 47, 0.1);
        border: 1px solid rgba(235, 47, 47, 0.5) !important;
    }
    
}