.g-title {
    margin: 0;
    font-family: "FuturaPT", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #212121;
    font-size: 40px;
    line-height: 44px;
    &--center {
        margin: 0 auto;
        text-align: center;
    }
}