.g-textarea {
    border: 1px solid transparent;
    color: hsla(231, 13%, 41%, 1);
    padding: 20px 35px;
    background: #f6f6f6;
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    height: 100px;
    resize: none;

    &.error {
        border: 1px solid rgba(#cc0000, 0.5);
        background-color: rgba(#cc0000, 0.1);
    }
}