.plyr {
    border: 10px solid rgba(#4096FC, 0.2);
    box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    height: 480px;
    
    @media (max-width: 768px) {
        height: 350px;
    }

    @media (max-width: 576px) {
        height: 290px;
    }

    @media (max-width: 420px) {
        height: 200px;
    }

    &__poster {
        background-size: cover;
    }
    
    &__control--overlaid {
        background-color: #eb2f2f;
        padding: 0;
        width: 140px !important;
        height: 140px;
        opacity: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            width: 80px !important;
            height: 80px;
            svg {
                width: 30px;
                height: 30px;
            }
        }
        @media (max-width: 576px) {
            width: 60px !important;
            height: 60px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        &:hover {
            background-color: #e30303 !important;
        }
        svg {
            width: 42px;
            height: 42px;   
        }
    }
    
    .plyr__controls {
        display: none;
    }
    
    &:hover {
        .plyr__controls {
            display: flex;
        }
    }
}