.plyr {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    max-width: 780px;
    display: flex;
    border: 10px solid rgba(#4096FC, 0.2);
    box-shadow: 0 64px 134px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;

    &--fullscreen-fallback {
        display: block !important;
        border-radius: 0 !important;
        height: 100% !important;
        margin: 0 !important;
        border: none !important;
        width: 100% !important;
        position: fixed !important;
    }

    @media (max-width: 768px) {
        height: 350px;
    }

    @media (max-width: 576px) {
        height: 290px;
    }

    @media (max-width: 420px) {
        height: 200px;
    }

    &:hover {
        .plyr__controls {
            display: flex;
        }
    }
    .plyr__controls {
        display: none;
    }

    &__poster {
        background-size: cover;
    }

    &__control--overlaid {
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: #eb2f2f;
        width: 100px !important;
        height: 100px;
        padding: 0;
        opacity: 1;

        @media (max-width: 768px) {
            width: 80px !important;
            height: 80px;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        @media (max-width: 576px) {
            width: 60px !important;
            height: 60px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            background-color: #e30303 !important;
        }

        svg {
            width: 33px;
            height: 33px;
        }
    }

    video {
        object-fit: contain;
    }
}

video {
    display: block;
    width: 100%;
    max-width: 780px;
    height: 430px;
    margin: 0 auto;
    object-fit: cover;

    @media (max-width: 768px) {
        height: 350px;
    }

    @media (max-width: 576px) {
        height: 290px;
    }

    @media (max-width: 420px) {
        height: 200px;
    }
}

.plyr:fullscreen {
    border: none;
    & video {
        object-fit: contain;
        max-width: 100%;
    }
}