section.emergency-crew
    .container.emergency-crew__container
        h2.g-title.emergency-crew__title Аварийная служба 
            span канализации
        h3.g-title.emergency-crew__subtitle Появился засор в канализации?
        p.emergency-crew__desc Круглосуточная аварийная служба - оперативность 24/7. Выезд сразу после вызова.
        .emergency-crew__tel
            span Или звоните:
            a(href="tel:+74951374369") +7 (495) 137-43-69
        button.btn-reset.g-btn.emergency-crew__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="call-emergency-crew" data-graph-speed="500") вызов аварийной службы
        span.emergency-crew__time.g-title 24/7
    img.emergency-crew__image.emergency-crew__car(src="img/car.png", alt="Car")
    img.emergency-crew__image.emergency-crew__man(src="img/man.png", alt="Man")