section.our-works
    .container.our-works__container
        h2.g-title.g-title--center.our-works__title Наши работы
        .g-slider
            .g-slider__controls.our-works-slider__controls
                button.btn-reset.g-slider-btn.g-slider-btn--prev.our-works-slider__btn--prev.g-slider__control-btn--prev
                    +icon("slider-arrow")
                button.btn-reset.g-slider-btn.g-slider-btn--next.our-works-slider__btn--next.g-slider__control-btn--next
                    +icon("slider-arrow")
            .swiper.our-works-slider
                .swiper-wrapper.our-works-slider__wrapper
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-7.jpg", data-src="img/work-7@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-2.jpg", data-src="img/work-2@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-3.jpg", data-src="img/work-3@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-7.jpg", data-src="img/work-7@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-2.jpg", data-src="img/work-2@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                    .swiper-slide
                        li.work-item.our-work
                            img.work-item__image.lozad.our-work__image(src="img/work-3.jpg", data-src="img/work-3@2x.jpg" alt="Искусственный засор канализации в коттедже")
                            h2.g-title.work-item__title.our-work__title Искусственный засор канализации в коттедже
                            p.work-item__desc.our-work__desc
                                span Объект: 
                                |Новый коттедж на Дмитровском шоссе. При сливе раковины кухни вода уходит крайне медленно, несмотря на то, что система канализации дома запущена три дня назад.
                            a.g-link.work-item__link.our-work__link(href="#") Подробнее
                .swiper-pagination.g-pagination.g-pagination--2.our-works-slider__pagination