footer.footer
    .container.footer__container
        .footer__left
            if page === "index"
                a.logo.footer__logo
                    +icon("logo-icon")
            else
                a.logo.footer__logo(href="/")
                    +icon("logo-icon")
            span.footer__copy © 2021 ООО Сантехстрой
            span.footer__desc Сделано в -&nbsp;
                a(href="#" target="_blank")
                    +icon("ruso")
        .footer__right
            .footer__top
                .footer__col
                    h2.footer__title Разделы сайта
                    ul.footer-menu.list-reset
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="about.html") О компании
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="services.html") Услуги
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="prices-individuals.html") Цены
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="works.html") Наши работы
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="articles.html") Статьи
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="testimonials.html") Отзывы и гарантии
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="contacts.html") Контакты
                .footer__col
                    h2.footer__title Наши услуги
                    ul.footer__list.list-reset
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Гидродинамическая прочистка
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Устранение засоров
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Прочистка наружной канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Прочистка внутренней канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Диагностика трубопроводов
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Обслуживание канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="service.html") Аварийная служба канализации
                .footer__col
                    h2.footer__title Контакты
                    .footer__row
                        .tell.footer__tell
                            span.tell__desc.footer__txt Телефон:
                            a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                        .footer-social
                            span.footer-social__desc.footer__txt Соцсети:
                            ul.footer-social__list.list-reset
                                li.footer-social__item
                                    a.footer-social__link(href="https://vk.com/krotservis" target="_blank")
                                        +icon("vk")
                                li.footer-social__item
                                    a.footer-social__link(href="https://www.facebook.com/groups/862549061078354/ " target="_blank")
                                        +icon("fb")
                                li.footer-social__item
                                    a.footer-social__link(href="https://instagram.com/krotservis.ru?utm_medium=copy_link" target="_blank")
                                        +icon("instagram")
                                li.footer-social__item
                                    a.footer-social__link(href="#")
                                        +icon("youtube")
                    .mail.footer__mail
                        span.mail__desc.footer__txt Почта:
                        a.mail__link.g-link(href="mailto:info@krotservis.ru") info@krotservis.ru
                    address.address
                        span.address__desc.footer__txt Адрес:
                        span.address__value г. Москва, Волгоградский проспект, д. 139, оф. 1
            .footer__bottom
                a.footer__link.g-link(href="policy.html") Политика конфиденциальности
                a.footer__link.g-link(href="policy.html") Согласие на обработку персональных данных
                span.footer__desc Сделано в -&nbsp;
                    a(href="https://rusodot.ru/" target="_blank")
                        +icon("ruso")