footer.footer
    .container.footer__container
        .footer__left
            a.logo.footer__logo(href="/")
                +icon("logo-icon")
            span.footer__copy © 2021 ООО Сантехстрой
            span.footer__desc Сделано в -&nbsp;
                span RUSO
        .footer__right
            .footer__top
                .footer__col
                    h2.footer__title Разделы сайта
                    ul.footer-menu.list-reset
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") О компании
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Услуги
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Цены
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Наши работы
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Статьи
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Отзывы и гарантии
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Контакты
                .footer__col
                    h2.footer__title Наши услуги
                    ul.footer__list.list-reset
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Гидродинамическая прочистка
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Устранение засоров
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Прочистка наружной канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Прочистка внутренней канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Диагностика трубопроводов
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Обслуживание канализации
                        li.footer-menu__item
                            a.footer-menu__link.g-link(href="#") Аварийная служба канализации
                .footer__col
                    h2.footer__title Контакты
                    .footer__row
                        .tell.footer__tell
                            span.tell__desc.footer__txt Телефон:
                            a.tell__value(href="tel:+74951374369") +7 (495) 137-43-69
                        .footer-social
                            span.footer-social__desc.footer__txt Соцсети:
                            ul.footer-social__list.list-reset
                                li.footer-social__item
                                    a.footer-social__link(href="#")
                                        +icon("vk")
                                li.footer-social__item
                                    a.footer-social__link(href="#")
                                        +icon("fb")
                                li.footer-social__item
                                    a.footer-social__link(href="#")
                                        +icon("instagram")
                                li.footer-social__item
                                    a.footer-social__link(href="#")
                                        +icon("youtube")
                    .mail.footer__mail
                        span.mail__desc.footer__txt Почта:
                        a.mail__link.g-link(href="mailto:info@krotservis.ru") info@krotservis.ru
                    .address
                        span.address__desc.footer__txt Адрес:
                        span.address__value г. Москва, Волгоградский проспект, д. 139, оф. 1
            .footer__bottom
                a.footer__link.g-link(href="#") Политика конфиденциальности
                a.footer__link.g-link(href="#") Согласие на обработку персональных данных
                span.footer__desc Сделано в -&nbsp;
                    span RUSO