section.info
    .container.info__container
        h2.g-title.info__title Сантехнические работы в москве и московской области
        p.info__desc Привыкли зависеть от управляющей компании? Подолгу ждать сантехника, терпеть грязь в доме и не быть уверенными в качестве работ? Уже более 100 000 наших клиентов доверили сантехнические работы «КротСервис» и узнали: что может быть и по-другому.

        .info-item
            .info-item__left.more-desc
                h3.info-item__title Хотите, чтобы сантехнические работы выполнялись быстро, чисто и с гарантией?
                span.info-item__desc.more-desc-value Мы не тратим ваше время впустую и сразу же приступаем к сантехническим работам. Представьте ситуацию: пришел к вам работник по срочному вызову и «завис» в раздумьях над мойкой. Или – принялся листать инструкцию. Некоторые умельцы еще и клиента привлекают к обсуждению его же проблемы. А время идет
                span.dots …
                span.info-item__desc.more Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Там единственное языкового собрал вершину маленькая текстами они взгляд лучше?
                button.more-text.btn-reset.g-link.info-item__more(data-text="Подробнее") Подробнее
            img.info-item__image.lozad(src="img/info-image.jpg", srcset="img/info-image@2x.jpg 2x", alt="")