section.articles
    .container.articles__container
        h1.g-title.articles__title Наши статьи
        ul.articles__list.list-reset
            article.article-item
                img.article-item__image.lozad(src="img/article-1.jpg", srcset="img/article-1@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-2.jpg", srcset="img/article-2@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-3.jpg", srcset="img/article-3@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-1.jpg", srcset="img/article-1@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-2.jpg", srcset="img/article-2@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-3.jpg", srcset="img/article-3@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-1.jpg", srcset="img/article-1@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-2.jpg", srcset="img/article-2@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
            article.article-item
                img.article-item__image.lozad(src="img/article-3.jpg", srcset="img/article-3@2x.jpg 2x" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article-item__date 23.10.2021
                h2.g-title.article-item__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article-item__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article-item__link(href="article.html") Читать дальше
        button.btn-reset.articles__more Показать еще