section.articles
    .container.articles__container
        h1.g-title.articles__title Наши статьи
        ul.articles__list.list-reset
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
            article.article
                img.article__image.lozad(src="img/article-1.jpg", data-src="img/article-1@2x.jpg" alt="Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению")
                span.article__date 23.10.2021
                h2.g-title.article__title Шеллак с блестками: модные дизайны и пошаговая инструкция по его нанесению
                p.article__desc Каждая женщина хочет выглядеть достойно и презентабельно. Сияющие глаза, лучезарная улыбка, красивый...
                a.g-link.article__link(href="#") Читать дальше
        button.btn-reset.articles__more Показать еще