section.service
    .container.service__container
        h1.g-title.service__title Гидродинамическая очистка канализации
        .service__content
            img.service__image.lozad(src="img/service-image.jpg", srcset="img/service-image@2x.jpg 2x", alt="Гидродинамическая очистка канализации")
            .service__right
                h2.service__subtitle Компания - “КротСервис” предлагает услуги гидродинамической прочистки канализации с гарантированным результатом.
                p.service__desc Технология применяется для чистки внутренних и наружных сетей. На сегодняшний день это один из самых современных и эффективных способов прочистки канализации, который позволяет полностью смыть твердые и мягкие отложения с внутренней поверхности труб.
                h3.service-list__title Что входит в стоимость:
                ul.service-list.list-reset
                    li.service-list__item
                        +icon("check2")
                        |Выезд <br> специалиста
                    li.service-list__item
                        +icon("check2")
                        |Выявление <br> причины засора
                    li.service-list__item
                        +icon("check2")
                        |Устранение <br> засора
                    li.service-list__item
                        +icon("check2")
                        |Сдача выполненных <br> работ
                .service__row
                    .service-price
                        span.service-price__desc Цена услуги:
                        .service-price__value от 5000₽
                    button.btn-reset.g-btn.service__btn.modal-btn(data-graph-animation="fadeInUp" data-graph-path="order-service" data-graph-speed="500") Заказать услугу